@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Nunito&display=swap");

.jum-con {
  padding-left: 5%;
}

.jum-title {
  font-family: "Nunito", sans-serif;
  font-size: 40pt;
}

.img-row {
  height: 80%;
  width: 80%;
  padding-bottom: 5%;
}
