@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");

/* My name styling */
h1 {
  padding-top: 5%;
}

.home {
  position: relative;
  padding-top: 1%;
}
/* designer text */
.centerleft {
  position: relative;
  top: 250px;
  left: auto;
  font-size: 50px;
  font-family: "Chicle", cursive;
}
.centerleftp {
  position: relative;
  top: 250px;
  left: auto;
  font-size: 20px;
}

/* coder text */
.coder {
  position: relative;
  top: 250px;
  right: 9px;
  font-size: 50px;
  font-family: "Nunito", sans-serif;
}

.centerightp {
  position: relative;
  top: 250px;
  right: 9px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

/* my picture styling */
.my-pic {
  width: 80%;
  align-content: center;
  padding-bottom: 5%;
}
