@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Nunito&display=swap");

.navbar {
  background-color: #be92a8c1;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 12pt;
  text-align: center;
}
