@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Nunito&display=swap");

.bt-resume {
  font-family: "Nunito", sans-serif;
  background-color: #ac7892f5;
  align-content: center;
  text-align: center;
  box-shadow: 4px 4px 8px rgb(141, 140, 140);
  padding-left: 50%;
}

.title {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 40px;
  padding-left: 5%;
}

.nd-cards {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: dimgray;
}

.nd-title {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: deeppink;
}
